@model ICollection<Pedido>


@{

    ViewData["Title"] = "DespachoPedidos";
    var pedidos = Model;
    bool presionado = false;
    string bg = "";
}

<h1>Pedidos</h1>

<table class="table">
    <thead>
        <tr class="bg-dark text-white">
            <th>
                Domicilio
            </th>
            <th>Detalle</th>
            <th>Fecha Pedido</th>
            <th>
                Estado Envío
            </th>
            <th>
                Productos Envío
            </th>
            <th>
                Actualizar Estado Envío
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in pedidos)
        {
            var id = "id" + item.Id.ToString();
            @if(item.EstadoEnvio == "En Camino")
            {
                presionado = true;
                bg = "success";
            }
            else
            {
                presionado = false;
                bg = "danger";
            }

            @if (item.EstadoEnvio == "No Enviado" || item.EstadoEnvio == "En Camino")
            {
                <tr class="border border-dark">
                    <td>@item.Domicilio</td>
                    <td>@item.DetalleEnvio</td>
                    <td>@item.FechaHora</td>
                    <td class="bg-@bg text-white text-center">@item.EstadoEnvio</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@id">
                            Productos
                        </button>

                        <div class="modal fade" id="@id" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-info">
                                        <h5 class="modal-title text-white" id="exampleModalLabel">Productos del Pedido</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="border border-dark">
                                            <thead>
                                                <tr class="bg-dark text-white">
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var p in item.Productos)
                                                {
                                                    <tr>
                                                        <td>@p.Nombre</td>
                                                        <td>@p.Cantidad</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer bg-info">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form method="post">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="d-none" name="idpedido" value="@item.Id" />
                                    <div class="form-check form-check-inline d-none">
                                        <input name="estado" class="form-check-input" type="radio" value="nada" checked>
                                        <label class="form-check-label" for="exampleCheck1">Nada</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="estado" class="form-check-input" type="radio" value="En Camino" checked="@presionado">
                                        <label class="form-check-label" for="exampleCheck1">En Camino</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="estado" class="form-check-input" type="radio" value="Entregado">
                                        <label class="form-check-label" for="exampleCheck1">Entregado</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <button asp-action="DespachoPedidos" asp-controller="Home" class="btn btn-warning">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal -->
